.wrapper {
  border-color: var(--main-color);
  border-style: solid;
  border-radius: 15px;
  margin-top: 20px;
}

.title {
  color: var(--accent-color);
  padding-left: 10px;
  padding-right: 10px;
}

.text {
  color: var(--main-color);
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--main-color);
  border: none;
  color: var(--active-color);
}

.btn:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editPlace {
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin-bottom: 10px;
}
