.wrapper{
    border-color: var(--main-color);
    border-style: solid;
    border-radius: 15px;
    margin-top: 20px;
}

.title{
    color: var(--accent-color);
    padding-left: 10px;
    padding-right: 10px
}

.text{
    color: var(--main-color);
    padding-left: 10px;
    padding-right: 10px
}
